.headerbar {
  scroll-snap-align: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 75px;

  /* margin-bottom: 40px; */
  padding: 40px;
  padding-bottom: 28px;

  background-color: #ffc259;
}

.headerbar > a {
  padding: 10px;
}

.headerbar a {
  letter-spacing: 0.5px;
  line-height: 1.2;
  font-weight: 700;
  color: black;
}

.headerbar a:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.headerbar a:focus {
  outline: 1px solid black;
}

.headerbar a:visited {
  color: black;
}

.headerbar__title {
  text-transform: uppercase;
}

.headerbar__group {
  display: flex;
}

.headerbar__group > a {
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerbar__group > button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;
  background: #201E1F;
  color: #F6C36B;
  border-radius: 50%;
}
